package components

import (
	"goth-starter/models"
	"strconv"
)

templ CountryDetail(country models.Country) {
	@Base(country.Name, "Check the details of "+country.Name) {
		<div id="country-detail">
			<p><b>Capital</b>: { country.Capital }</p>
			<p><b>Continent</b>: { country.Continent }</p>
			<p><b>Population</b>: { strconv.Itoa(country.Population) }</p>
		</div>
	}
}
