package components

templ Footer() {
	<footer class="mt-auto py-3 bg-white text-center border-t border-gray-200">
		<p class="text-sm">
			Made with ❤️ by <a href="https://github.com/jghedderich" class="hover:underline">jghedderich</a>
		</p>
	</footer>
}
